html, body {
    height: 100%;
    width: 100%;
    font-size: calc(4px + 10 * (100vw / 1920));
    font-family: "Museo Sans", "Proxima Nova", serif;
    @media (min-width: 767px) {
        overflow: hidden;
    }
}

#app {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    
    @media (max-width: 768px) {
        height: auto;
        overflow: inherit;
    }
}

@media (max-width: 768px) {
    html, body {
        font-size: 12px;
    }
}


@media (min-width: 1300px) {
    html, body {
        font-size: calc(4px + 10 * (100vw / 1920));
    }
}

@media (min-width: 1000px) {
    html, body {
        font-size: calc(3px + 10 * (100vw / 1920));
    }
}


img {
    max-width: 100%;
    user-select: none;
    max-height: 100%;
}

* {
    box-sizing: border-box;
}


.shadow {
    box-shadow: 0 0 12px rgba(0, 0, 0, .1);
}

#map {
    background: #ffffff;
    width: 100%;
    height: 350px;
    border: 1px solid #222222;
}

label {
    @media (max-width: 768px) {
        margin: 0 !important;
    }
}

select {
    padding: 1em 2em;
    border: none;
    border-radius: 4px;
    
    @media (max-width: 768px) {
        margin: 0 0 1.5em 0;
        width: 100%;
    }
}

input {
    &:not([type="submit"]) {
        padding: 1em 2em;
        border: none;
        border-radius: 4px;
        
        @media (max-width: 768px) {
            margin: 0 0 1.5em 0;
            width: 100%;
        }
    }
    
    &[type="submit"] {
        cursor: pointer;
    }
}


.gallary {
    ._main {
        max-height: 400px;
        
        img {
            object-fit: cover;
        }
    }
    
    ._imgs {
        margin-top: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, 50px);
        grid-gap: 1em;
        
        img {
            cursor: pointer;
            height: 50px;
            object-fit: cover;
        }
    }
}


.catalog {
    
    
    ._item {
        position: relative;
        margin-bottom: 20px;
        .open {
            border: 1px solid #ffffff;
            height: 2.5em;
            color: #ffffff;
            background: none;
            cursor: pointer;
            font-weight: bold;
            transition: .3s;
        
            &:hover {
                background: #ffffff;
                color: $color-red;
            }
    
            @media (max-width: 768px) {
                border-color: $color-red;
                width: 100%;
                height: 3em;
                color: $color-red;
        
                &:active {
                    background: $color-red;
                    color: #fff;
                }
            }
        }
        .___img {
            position: relative;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
                position: relative;
            }
        
            .hover-content {
                transition: .3s;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba($color-red, .8);
                color: #ffffff;
                z-index: 99;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                padding: 1em;
            
                p {
                    font-size: 1.3em;
                    margin: 0;
                    padding: 0;
                
                    small {
                        display: block;
                    }
                }
            }
        }
        
        &:hover {
            .hover-content{
                opacity: 1 !important;
                visibility: visible !important;
            }
        }
    }
    
    .modal-content {
        display: none;
    }
    
    .___title {
        * {
            font-weight: 900;
            font-size: 1.2em;
            margin-bottom: .3em;
        }
    }
}



.only-mobile{
    display: none;
}
@media (max-width: 768px) {
    .link{
        display: table;
        margin: 10px auto;
    }
    .only-mobile{
        display: block;
    }
    .mobile-reverse{
        display: flex !important;
        flex-direction: column-reverse;
    }
    
    .none-mobile {
        display: none;
    }
    .mobile-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .catalog {
        ._item {
            margin-bottom: 2em;
            
            
            .___img {
                margin-bottom: 1em;
            }
        }
    }
    .footer {
        padding-top: 2em;
        
        p {
            text-align: left;
            margin: 1em 0;
            line-height: 1.5em;
        }
        
        .inst {
            justify-content: center;
            display: flex;
            align-items: center;
            margin: 2em 0;
            
            p {
                margin: .5em 0;
                
            }
            
            .icon {
                margin-left: 0;
                margin-right: 1em;
            }
        }
    }
}


.content-by-index{
    display: none;
    &.current{
        display: block;
    }
}
