.btn {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    background: none;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    max-width: 20em;
    width: 100%;
    font-size: 1.2em;
    font-weight: 700;
    user-select: none;
    padding: 0 2em;
    
    @media (max-width: 768px) {
        margin: 0 auto;
    }
    
    &.btn-secondary{
        background: rgba($color-red, .1);
        border-radius: 40px;
        transition: .3s;
        color: $color-red;
        border: 1px solid $color-red;
    
        &:hover {
            opacity: .8;
        }
    }
    
    &.btn-primary {
        background: linear-gradient(#e62c2c, #971616);
        border-radius: 40px;
        transition: .3s;
        color: #ffffff;
        
        &:hover {
            opacity: .8;
        }
    }
}
