.cards {
    ._item {
        .__wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .___img {
                width: 150px;
                height: 150px;
                background-color: #eeeeee;
                background-color: rgba($color-red, .1);
                border: 1px solid $color-red;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                margin-bottom: 2em;
            }
            .___description{
                margin: 2em 0;
                text-align: center;
            }
            .___title{
                text-align: center;
                small{
                    display: block;
                    font-size: .5em;
                    font-weight: 100;
                }
                *{
                    font-weight: 700;
                    font-size: 2em;
                }
            }
            .___footer{
                a{
                    text-decoration: underline;
                }
            }
        }
    }
}


.cards-2{
    ._item{
        background: #fff;
        box-shadow: 0 0 12px rgba(0,0,0,.3);
        border-radius: 4px;
        .__wrapper{
            padding: 2em;
            text-align: center;
            max-height: 100%;
            .___title{
                margin-bottom: 1em;
                p{
                    font-weight: 900;
                    font-size: 2em;
                }
                img{
                    max-width: 70%;
                }
            }
            .___img{
                img{
                    max-width: 85%;
                }
                margin-bottom: 1em;
            }
            .___price{
                .price{
                
                }
                .count{
                
                }
                .sale{
                
                }
            }
            .___description{
                ul{
                    li{
                    
                    }
                }
            }
            .___footer-btn{
                position: relative;
                .btn{
                    position: absolute;
                    top: 3em;
                }
            }
        }
    }
}
