#app {
    &.white-theme {
        color: #ffffff;
        
        &.slide-switched {
            #header-page {
                top: 0;
                color: #000000;
                
                .logo {
                    background-image: url("../../images/logo-inverse.png");
                }
            }
        }
    }
    
    &.black-theme {
        color: #000000;
        
        &.slide-switched {
            color: #ffffff;
            
            #header-page {
                top: 0;
                
                .logo {
                    background-image: url("../../images/logo.png");
                }
            }
        }
    }
    
    &.scrolling-slide.slide-switched {
        &.black-theme {
            #header-page {
                background-color: #111111;
                box-shadow: 0 12px 12px rgba(0, 0, 0, .1);
            }
        }
        
        &.white-theme {
            #header-page {
                background-color: #ffffff;
                box-shadow: 0 12px 12px rgba(0, 0, 0, .1);
            }
        }
    }
}

#header-page {
    position: fixed;
    z-index: 20;
    top: -10em;
    left: 0;
    width: 100%;
    height: 10em;
    transition: top .5s;
    
    .container {
        height: 100%;
        
        .logo {
            max-width: 10em;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("../../images/logo.png");
            transition: .3s;
        }
        
        .icon-phone {
            background: linear-gradient(180deg, #e02a2a, #901414);
            color: #ffffff;
            font-size: 1.5em;
            margin-right: .5em;
            padding: .6em;
            border-radius: 50%;
        }
        
        .phone {
            margin-right: 2em;
            display: flex;
            align-items: center;
            
            a {
                color: inherit;
                font-size: 1.2em;
            }
        }
        
        .address {
            margin-left: 1em;
            
            ul {
                li {
                    &:not(:last-child) {
                        margin-bottom: 1em;
                    }
                    
                    span {
                        font-weight: 100;
                    }
                }
            }
        }
    }
}
