.scroll-container{
    display: block;
    height: inherit;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    @media (max-width: 768px) {
        height: auto !important;
    }
}
