@keyframes circleAnim {
    0% {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }
    25% {
        transform: scale(1.2) translate(30px, -30px);
        opacity: .7;
    }
    50% {
        transform: scale(1.1) translate(-20px, -20px);
        opacity: .9;
    }
    75% {
        transform: scale(1.2) translate(-30px, 30px);
        opacity: .8;
    }
    100% {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }
}

.slide {
    visibility: hidden;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #222222;
    color: #ffffff;
    z-index: 9;
    left: 0;
    top: 0;
    transform: translateY(0%);
    transition: transform 1.2s;
    content-visibility: auto;
    contain-intrinsic-size: 100vh;
    
    @media (max-width: 768px) {
        position: relative;
        transform: none;
        max-height: none;
        visibility: visible;
        display: block;
        height: auto;
    }
    
    
    .fixed-content {
        pointer-events: none;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 12;
        
        @media (max-width: 768px) {
            display: none;
        }
    }
    
    .content {
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
        padding-top: 11em;
        
        @media (max-width: 768px) {
            padding-top: 2em;
            overflow: inherit;
            height: auto;
            position: relative;
        }
        
        & > div {
            padding-top: 2em;
            padding-bottom: 5em;
            height: 100%;
            
            position: relative;
            z-index: 3;
            transition: transform 1.5s;
            transform: translateX(600px);
            
            @media (max-width: 768px) {
                padding-top: 0;
                transform: none;
                height: auto;
            }
        }
    }
    
    .main-content {
        z-index: 2;
        position: relative;
    }
    
    .decor {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        overflow: hidden;
        
        @media (max-width: 768px) {
            display: none;
        }
        
        .nav-circle {
            transition: transform .6s;
            position: absolute;
            left: 0;
            height: 100%;
            top: 0;
            z-index: 2;
            
            transform: scale(1);
            
            .circle:first-child, .circle:last-child {
                position: absolute;
                left: -20em;
                top: 50%;
                transform: translateY(-50%);
                width: 32em;
                height: 32em;
                z-index: 3;
                border-radius: 500px;
            }
            
            .circle:last-child {
                width: 28em;
                height: 28em;
                left: -18em;
                z-index: 4;
            }
        }
    }
    
    .bg-image {
        overflow: hidden;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    
        @media (max-width: 768px) {
            display: none;
        }
        
        .inside {
            transition: transform 0.5s ease-in-out;
            width: inherit;
            height: inherit;
            transform: scale(1.08);
            background-origin: border-box;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }
    }
    
    &.no-animation {
        &, .content > * {
            transition: none !important;
        }
    }
    
    &.before-slide {
        visibility: visible;
        
        &.before-slide-direction-up {
            transition: 0s;
            z-index: 12;
            transform: translateX(-100%);
            @media (max-width: 768px) {
                transform: none;
            }
        }
        
        z-index: 12;
        transform: translateX(-100%);
        @media (max-width: 768px) {
            transform: none;
        }
    }
    
    &.current-slide {
        visibility: visible;
        z-index: 11;
        transform: translateX(0%);
        @media (max-width: 768px) {
            transform: none;
        }
        .content {
            & > div {
                transform: translateX(0);
                @media (max-width: 768px) {
                    transform: none;
                }
            }
        }
        
        &.appeared-slide {
            .decor {
                .nav-circle {
                    transform: scale(1.15);
                }
            }
            
            .bg-image {
                .inside {
                    transform: scale(1);
                }
            }
        }
    }
    
    &.after-slide {
        visibility: visible;
        z-index: 10;
        transform: translateX(400px);
        @media (max-width: 768px) {
            transform: none;
        }
    }
    
    
    &[data-app-custom-class="black-theme"] {
        background-color: #222222;
        
        .content {
            color: #ffffff;
        }
        
        .bg-image {
            .inside {
                background-color: #222222;
            }
        }
        
        .nav-circle {
            .circle:first-child, .circle:last-child {
                background: linear-gradient(90deg, rgba(#971616, .21), rgba(#971616, 0));
                box-shadow: 0 0 100px 40px rgba(#3f2727, .8);
                animation: animBoxShadowBlack 6s ease-in-out infinite;
            }
            
            @keyframes animBoxShadowBlack {
                0% {
                    box-shadow: 0 0 100px 40px rgba(#3f2727, .8);
                }
                25% {
                    box-shadow: 0 0 60px 40px rgba(#3f2727, 1);
                }
                50% {
                    box-shadow: 0 0 180px 40px rgba(#3f2727, 1);
                }
                25% {
                    box-shadow: 0 0 60px 40px rgba(#3f2727, 1);
                }
                100% {
                    box-shadow: 0 0 100px 40px rgba(#3f2727, .8);
                }
            }
            
            .circle:last-child {
                background: linear-gradient(90deg, rgba(#971616, .21), rgba(#971616, 0));
            }
        }
        
    }
    
    &[data-app-custom-class="white-theme"] {
        background-color: #ffffff;
        
        .content {
            color: #000000;
            
            h1, h2, h3, h4, h5, h6 {
                color: #333333;
            }
        }
        
        .bg-image {
            .inside {
                background-color: #ffffff;
            }
        }
        
        .nav-circle {
            .circle:first-child, .circle:last-child {
                background: #ffffff;
                box-shadow: 0 0 100px 40px rgba(#fce1e1, .8);
                animation: animBoxShadowWhite 6s ease-in-out infinite;
            }
            
            
            @keyframes animBoxShadowWhite {
                0% {
                    box-shadow: 0 0 100px 40px rgba(#fce1e1, .8);
                }
                25% {
                    box-shadow: 0 0 60px 40px rgba(#fce1e1, 1);
                }
                50% {
                    box-shadow: 0 0 180px 40px rgba(#fce1e1, 1);
                }
                25% {
                    box-shadow: 0 0 60px 40px rgba(#fce1e1, 1);
                }
                100% {
                    box-shadow: 0 0 100px 40px rgba(#fce1e1, .8);
                }
            }
            
            .circle:last-child {
                background: linear-gradient(90deg, rgba(#fff, .21), rgba(#971616, 0));
            }
        }
    }
}

.slide-1 {
    
    .detail {
        position: relative;
        width: 100%;
        height: 100%;
    
        @media (max-width: 768px) {
            display: none;
        }
        
        ._wraper {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
            
            .dot {
                cursor: pointer;
                position: absolute;
                z-index: 4;
                
                &.dot-1 {
                    top: 0;
                    left: 50px;
                    z-index: 5;
                }
                
                &.dot-2 {
                    top: 0;
                    right: 0;
                }
                
                &.dot-3 {
                    top: 100px;
                    right: 0;
                }
                
                &.dot-4 {
                    bottom: 0;
                    right: 0;
                }
                
                &.dot-5 {
                    bottom: 0;
                    left: 0;
                }
                
                .hover {
                    .title {
                        p {
                            color: $color-red;
                            font-weight: 900;
                            font-size: 1.1em;
                        }
                    }
                    
                    .description {
                        margin-top: .4em;
                    }
                    
                    width: 280px;
                    position: absolute;
                    visibility: hidden;
                    transition: .3s;
                    opacity: 0;
                    bottom: calc(100% + 25px);
                    left: -125px;
                    background: rgba(#333, .8);
                    border-radius: 1em;
                    z-index: 10;
                    padding: 1em 1em 1em 20px;
                    
                    &:after {
                        content: "";
                        position: absolute;
                        height: 80%;
                        border-radius: 5em;
                        width: 4px;
                        background: $color-red;
                        left: 10px;
                        top: 10%;
                    }
                }
                
                &:hover {
                    .hover {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                
                &:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 20px;
                    height: 20px;
                    background: rgba($color-red, 1);
                    border: 1px solid $color-red;
                    z-index: -2;
                    border-radius: 50%;
                    transform-origin: top left;
                }
                
                &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 30px;
                    height: 30px;
                    background: rgba($color-red, .1);
                    border: 1px solid $color-red;
                    z-index: -1;
                    border-radius: 50%;
                    transform-origin: top left;
                }
            }
            
            &:before {
                pointer-events: none;
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 300px;
                height: 300px;
                background: rgba($color-red, .4);
                border: 1px solid $color-red;
                z-index: -1;
                border-radius: 50%;
                transform-origin: top left;
            }
            
            &:after {
                pointer-events: none;
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 450px;
                height: 450px;
                background: rgba($color-red, .1);
                border: 1px solid $color-red;
                z-index: -1;
                border-radius: 50%;
                box-shadow: 0 0 50px rgba($color-red, .4);
                transform-origin: top left;
            }
            
            img {
                transform: scale(1.5);
                position: relative;
            }
        }
    }
    
    &.appeared-slide {
        .detail {
            ._wraper {
                &:before {
                    animation: scales2 9s ease-in-out infinite alternate-reverse;
                }
                
                &:after {
                    animation: scales2 6s ease-in-out infinite;
                }
                
                .dot {
                    &:before {
                        animation: scales 4s ease-in-out infinite alternate-reverse;
                    }
                    
                    &:after {
                        animation: scales 2s ease-in-out infinite;
                    }
                }
            }
        }
        
        .decor {
            .circle-default-1 {
                animation: circleAnim 9s infinite;
            }
            
            .circle-default-2 {
                animation: circleAnim 12s infinite ease-in-out alternate-reverse;
            }
        }
    }
    
    .decor {
        .circle-default-1 {
            position: absolute;
            width: 14em;
            height: 14em;
            top: -5em;
            left: 30em;
            background: linear-gradient(125deg, rgba(#971616, .21), rgba(#971616, 0));
            border-radius: 500px;
        }
        
        .circle-default-2 {
            position: absolute;
            width: 40em;
            height: 40em;
            top: -10em;
            right: -10em;
            background: linear-gradient(125deg, rgba(#971616, .12), rgba(#971616, 0));
            border-radius: 500px;
        }
    }
}

.slide-4{
    @media (max-width: 768px) {
        .btn{
            margin: 2em auto 0 auto;
        }
    }
}

.slide-2, .slide-4 {
    .decor {
        .circle-default-1 {
            position: absolute;
            width: 22em;
            height: 22em;
            bottom: -16em;
            left: 20em;
            background: linear-gradient(125deg, rgba(#fdf0f1, 1), rgba(#fdf0f1, 0));
            border-radius: 500px;
            
            animation: circleAnim 19s infinite;
        }
        
        .placeholder-number {
            user-select: none;
            position: absolute;
            right: 4.5em;
            top: 1.2em;
            z-index: 10;
            color: #cfcfcf;
            font-size: 10em;
            font-family: "Museo Sans", "Proxima Nova", Arial, sans-serif;
            font-weight: 700;
        }
        
        .circle-default-2 {
            position: absolute;
            width: 40em;
            height: 40em;
            top: -10em;
            right: -10em;
            background: linear-gradient(125deg, rgba(#fdf0f1, 1), rgba(#fdf0f1, 0));
            border-radius: 500px;
            
            animation: circleAnim 12s infinite ease-in-out alternate-reverse;
        }
        
        .circle-default-3 {
            position: absolute;
            width: 27em;
            height: 27em;
            bottom: -16em;
            right: 20em;
            background: linear-gradient(90deg, rgba(#fdf0f1, 1), rgba(#fdf0f1, 0));
            border-radius: 500px;
            
            animation: circleAnim 12s infinite alternate-reverse;
        }
    }
}

.slide-5 {
    .link {
        .icon {
            color: rgba($color-red, .5);
        }
    }
}

.slide-2,.slide-5{
    @media (max-width: 768px) {
        display: none;
    }
}

.slide-3, .slide-5 {
    .decor {
        .circle-default-1 {
            position: absolute;
            width: 26em;
            height: 26em;
            top: -7em;
            left: 30em;
            background: linear-gradient(125deg, rgba(#971616, .21), rgba(#971616, 0));
            border-radius: 500px;
            
            animation: circleAnim 9s infinite;
        }
        
        .circle-default-2 {
            position: absolute;
            width: 40em;
            height: 40em;
            top: -10em;
            right: -10em;
            background: linear-gradient(125deg, rgba(#971616, .12), rgba(#971616, 0));
            border-radius: 500px;
            
            animation: circleAnim 12s infinite ease-in-out alternate-reverse;
        }
        
        .circle-default-3 {
            position: absolute;
            width: 30em;
            height: 30em;
            top: -10em;
            right: -10em;
            background: linear-gradient(125deg, rgba(#971616, .12), rgba(#971616, 0));
            border-radius: 500px;
            
            animation: circleAnim 17s infinite ease-in-out;
        }
    }
}

.slide-6 {
    .adress {
        p {
            span {
                a {
                    font-weight: 100;
                }
                
                font-weight: 100;
            }
        }
        
    }
    
    .fixed-content {
        z-index: 100 !important;
        
        .partners {
            position: fixed;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            
            button:hover + .contents, .contents:hover {
                opacity: 1;
                transform: translateX(0);
                visibility: visible;
            }
            
            .contents {
                overflow: hidden;
                border-radius: 15px 0 0 15px;
                pointer-events: auto;
                visibility: hidden;
                transform: translateX(1000px);
                transition: .6s;
                opacity: 0;
                max-width: 1000px;
                width: 100%;
                height: 14em;
                background: #ffffff;
                position: absolute;
                top: -4.5em;
                right: 4em;
                z-index: 13;
                box-shadow: 0 0 12px rgba(0, 0, 0, .4);
                padding: 0 40px;
                
                .glide-4 {
                    height: 100%;
                    
                    .glide__track {
                        height: 100%;
                    }
                }
                
                .glide__slides {
                    display: flex;
                    align-items: center;
                    height: 100%;
                }
                
                .glide__slide {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
            
            button {
                pointer-events: auto;
                cursor: pointer;
                background: $color-red;
                text-transform: uppercase;
                font-size: 1.6em;
                color: #ffffff;
                transform: rotate(-90deg);
                border: none;
                height: 3em;
                width: 9em;
                padding: 1em;
                position: absolute;
                right: -3em;
                border-radius: 15px 15px 0 0;
                font-weight: 700;
                box-shadow: 0 0 0 8px rgba($color-red, .2);
                z-index: 14;
            }
        }
    }
    
    .decor {
        .circle-default-1 {
            position: absolute;
            width: 26em;
            height: 26em;
            top: -20em;
            left: 30em;
            background: linear-gradient(125deg, rgba(#fdf0f1, 1), rgba(#fdf0f1, 0));
            border-radius: 500px;
            
            animation: circleAnim 9s infinite;
        }
        
        .circle-default-2 {
            position: absolute;
            width: 40em;
            height: 40em;
            top: -10em;
            right: -10em;
            background: linear-gradient(125deg, rgba(#fdf0f1, 1), rgba(#fdf0f1, 0));
            border-radius: 500px;
            
            animation: circleAnim 12s infinite ease-in-out alternate-reverse;
        }
        
        .circle-default-3 {
            position: absolute;
            width: 30em;
            height: 30em;
            bottom: -20em;
            left: 30em;
            background: linear-gradient(125deg, rgba(#fdf0f1, 1), rgba(#fdf0f1, 0));
            border-radius: 500px;
            
            animation: circleAnim 17s infinite ease-in-out;
        }
    }
}


.slideTo {
    cursor: pointer;
    user-select: none;
}


@keyframes scales2 {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }
    50% {
        transform: scale(1.1) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}

@keyframes scales {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }
    50% {
        transform: scale(1.2) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}
