table {
    background: rgba(#372a2b, .9);
    border: 1px solid $color-red;
    height: 100%;
    width: 100%;
    
    @media (max-width: 768px) {
        margin-bottom: 2em
    }
    
    tr {
        th {
            text-align: left;
            padding: 1em 20px;
            font-size: 1.4em;
            text-transform: uppercase;
        }
        
        td {
            padding: .6em 20px;
            border-bottom: 1px solid $color-red;
            border-top: 1px solid $color-red;
            vertical-align: center;
        }
        
        &:nth-child(2n) {
            td {
                background-color: rgba(#463c3d, .9);
            }
        }
    }
    
    &.alternating {
        tr{
            &:nth-child(2n) {
                td {
                    background: $color-red !important;
                }
            }
        }
    }
}
